[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = c and cpp
[access "refs/*"]
	owner = group user/winway (WinwayJia)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/winway (WinwayJia)
	label-Verified = -1..+1 group user/winway (WinwayJia)
	push = group user/winway (WinwayJia)
	read = group user/winway (WinwayJia)
	rebase = group user/winway (WinwayJia)
	removeReviewer = group user/winway (WinwayJia)
	submit = group user/winway (WinwayJia)
[access "refs/heads/*"]
	create = group user/winway (WinwayJia)
	push = +force group user/winway (WinwayJia)
	pushMerge = group user/winway (WinwayJia)
	read = group user/winway (WinwayJia)
[access "refs/tags/*"]
	push = group user/winway (WinwayJia)
	push = +force group user/winway (WinwayJia)
